#filters {
  text-align:center;
}

#filters li {
  height:40px;
  line-height:40px;
  background-color:#66FF99;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}

#filters li.filter_inactive{
  height:40px;
  line-height:40px;
  background-color:gray;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}

.feeditem_header {
  cursor: pointer;
}

.feeditem_wrapper {
  border: 1px solid black;
  margin-top: 10px;
  padding: 2px;
}
