{% extends "base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type='text/css' href="{% static 'customers/customer_feed.css' %}" />
{% endblock extra_css %}
{% block extra_js %}
    <script type='text/javascript' src="{% static 'customers/customer_feed.js' %}"></script>
{% endblock extra_js %}

{% block content %}
Choose Customer:
<ul>
  {% for cust in all_customers %}
  <li>
  <a href="{% url 'customers:customerfeed' cust.id  %}"> {{ cust.last_name }} </a> 
  </li>
  {% endfor %}
</ul>
<hr>
<ul class="inline" id="filters">
  <li id="filter_appointments">Termine</li>
  <li id="filter_notes">Notizen</li>
</ul>
<hr>
{% block customerdetail %}
{% endblock customerdetail %}
{% endblock content %}
