{% extends "base.html" %}

{% block content %}
{% if customer_list %}
<table border="1">
  <tr>
    <th> Name </th>
    <th> Vorname </th>
    <th> Nächster Termin </th>
    <th> Details </th>
  </tr>
  {% for customer in customer_list %}
  <tr>
    <td> {{customer.last_name}}</td>
    <td> {{customer.first_name}} </td>
    <td> {{customer.next_appointment}}</td>
    <td> <a href="{% url 'customers:customerfeed' customer.id %}">V</a> </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Keine Kunden verfügbar.</p>
{% endif %}
{% endblock %}
