{% extends 'base.html' %}
{% block content %}
{% if action == "create" %}
<h2> Neuen Termin erstellen </h2>
{% elif action == "update" %}
<h2>Termin bearbeiten</h2>
{% else %}
<h2>THIS SHOULD NEVER HAPPEN!!</h2>
{% endif %}

<form id="create-appointment-form" method="post">
{% csrf_token %}

<table>
  {{ form.as_table }}
</table>
<input id="appointment-save" class="btn btn-primary" type="submit" value="Anlegen" />
</form>

{% load static %}
<script type="text/javascript" src="{% static 'appointments/create_appointment.js' %}"></script>
{% endblock content %}
