{% extends "base.html" %}
{% block content %}
Customer: {{ appointment.customer }} <br/>
Notes: {{ appointment.notes }} <br/>
Duration: {{ appointment.get_duration_hours }} hours <br/>
Price per hour: {{ appointment.pricing.rate_hour }} <br/>
Total Price: {{ appointment.get_appointment_price }} <br/>
{% if appointment.is_invoiced %}
Has been invoiced
{% else %}
Not invoiced
{% endif %}
<br/>
Occured: {{ appointment.has_occured }}
<br/>
<span>
  <a href="{% url 'appointments:update' appointment.pk  %}">[ edit ]</a>
</span>
<span>&nbsp &nbsp &nbsp</span>
<span>
  <a href="{% url 'appointments:delete' appointment.pk  %}">[ delete ]</a>
</span>
{% endblock %}
