{% extends "base.html" %}

{% load static %}

{% block extra_js %}
<!-- fullCalendar -->
<script type='text/javascript' src="{% static 'vendor/fullcalendar/fullcalendar.js' %}"></script>
<!-- calendar handling etc. -->
<script type='text/javascript' src="{% static 'appointments/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'appointments/create_appointment.js' %}"></script>
<script type='text/javascript' src="{% static 'appointments/appointment.js' %}"></script>
{% endblock extra_js %}

{% block content %}
<div>
  <a class="btn btn-primary" href="{% url 'appointments:create' %}">Termin erstellen</a>
</div>
<br/>

<div id="cal-title">
  <span class="fc-header-title" style="display: none;">
    <h2></h2>
  </span>
</div>

<div id="calendar"></div>

<div id="appointment-dialog"></div>

{% endblock content %}
