{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type='text/css' href="{% static 'invoices/create_invoice.css' %}"/>
{% endblock extra_css %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'invoices/create_invoice.js' %}"></script>
{% endblock extra_js %}

{% block content %}

<form action="{% url 'invoices:create_invoice' %}" method="post">
  {% csrf_token %}
  <label for="for_customer">Customer:</label>
  <select name="for_customer" id="for_customer">
    {% for cust in customers %}
    <option value="{{ cust.id }}">{{ cust }}</option>
    {% endfor %}
  </select>
  <p>
  <label for="from_date">From: </label>
  <input type="text" id="from_date" name="from_date">
  </p>
  <p><label for="until_date">Until: </label><input type="text" id="until_date" name="until_date"></p> 
  {% if error_message %}
  <p class="error">{{ error_message }}</p>
  {% endif %}
  <input type="submit"/>
</form>

{% if appointments_to_invoice %}
<form action="{% url 'invoices:create_invoice' %}" method="post">
  {% csrf_token %}
  <br/>
  <h3>{{ success_message }}</h3>
  <table border="1">
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Customer</th>
      <th>occured</th>
      <th>pricing</th>
      <th>duration</th>
      <th>Amount</th>

    </tr>
    {% for apt in appointments_to_invoice %}
    <tr>
      <td> {{ apt.start_date }} </td>
      <td> {{ apt.end_date }} </td>
      <td> {{ apt.customer }} </td>
      <td> {{ apt.has_occured }} </td>
      <td> {{ apt.pricing.rate_hour }} </td>
      <td> {{ apt.get_duration_hours }} </td>
      <td> {{ apt.get_appointment_price }} </td>

    </tr>
    {% endfor %}
    <tr>
      <td colspan="6">TOTAL:</td>
      <td>{{ total_sum }} </td>
    </tr>
  </table>
  <input type="hidden" name="save_invoice" value="True">
  <input type="submit" value="Save this invoice">
</form>
{% else %}
No appointments selected
{% endif %}
{% endblock content %}
