{% extends 'base.html' %}
{% block content %}
<ul>
{% for inv in invoice_list %}
<li><a href="{% url 'invoices:detail' inv.id %}">{{ inv.id }} sum: {{ inv.get_total }}i</a></li>
{% endfor %}

</ul>
{% endblock content %}
