{% extends 'base.html' %}

{% block content %}
<h3>Invoice No.: {{ invoice.id }} </h3>
<p>Customer: {{invoice.customer }} </p>
<table border="1">
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Customer</th>
    <th>occured</th>
    <th>pricing</th>
    <th>duration</th>
    <th>Amount</th>

  </tr>
  {% for apt in invoice.get_appointments %}
  <tr>
    <td> {{ apt.start_date }} </td>
    <td> {{ apt.end_date }} </td>
    <td> {{ apt.customer }} </td>
    <td> {{ apt.has_occured }} </td>
    <td> {{ apt.pricing.rate_hour }} </td>
    <td> {{ apt.get_duration_hours }} </td>
    <td> {{ apt.get_appointment_price }} </td>

  </tr>
  {% endfor %}
  <tr>
    <td colspan="6">TOTAL:</td>
    <td>{{ invoice.get_total }} </td>
  </tr>
</table>

{% endblock content %}
