html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0px;
}
#header h1{
  margin-left:10px;
}


#topnavigation {
  background-color:#EDEDF3;
  margin-bottom:30px;
  padding-left:40px;
}

ul.inline {
  margin: 0;
  padding:0;
  position:static;
}

ul.inline > li {
  display: inline-block;
  line-height:inherit;
  cursor:pointer;
}

ul.inline a{
  display:inline-block;
  line-height:40px;
  padding: 0 10px 0 10px;
}

ul.inline a:hover{
  background-color:#D5D5DB;
}

#content {
  margin: 0 20px; /* Fallback if browser does not support viewport-sized typography yet (http://css-tricks.com/viewport-sized-typography/) */ 
  margin: 0 2vw; /* use 2% of viewport width */
  clear:both;
}

/* fullcalendar */
.fc-header-title h2 {
  font-size: 20px;
}

#cal-title {
  text-align: center;
}

#cal-title > span {
  display: inline-block;
}
