<div class="feeditem_wrapper filteritem_{{ item.get_filteritem }}">
  <div class="feeditem_header" type="button" data-toggle="collapse"
    data-target="#feeditem_collapsible_{{ number }}">
    {% block collapsible_header %}
    <span>{{ item.title }}</span>   {{ item.start_date }} - {{ item.end_date }}  <br/>
    {% endblock collapsible_header %}
  </div>
  <div class="appoint_data collapse" id="feeditem_collapsible_{{ number }}">
    {% block collapsible_content %}
    {% endblock collapsible_content %}
  </div>
</div>
