{% extends "feeditems/feeditem_base.html" %}
{% block collapsible_header %}
<span>{{ item.title }}</span>   {{ item.date }} <br/>
{% endblock collapsible_header %}
{% block collapsible_content %}
<div>
  {{ item.text }}
</div>
{% endblock collapsible_content %}
