{% extends "feeditems/feeditem_base.html" %}
{% block collapsible_content %}
Customer: {{ item.customer }}
<div>
  {{ item.notes }}
</div>

Duration: {{ item.get_duration_hours }} hours <br/>
Price per hour: {{ item.pricing.rate_hour }} <br/>
Total Price: {{ item.get_appointment_price }} <br/>
{% if item.is_invoiced %}
Has been invoiced
{% else %}
Not invoiced
{% endif %}
<br/>
Occured: {{ item.has_occured }}
{% if display_crud %}
<br/>
<span>
  <a href="{% url 'appointments:update' item.pk  %}">[ edit ]</a>
</span>
<span>&nbsp &nbsp &nbsp</span>
<span>
  <a href="{% url 'appointments:delete' item.pk  %}">[ delete ]</a>
</span>
{% endif %}
{% endblock collapsible_content %}
